Assignment4server/XSD/destroyedEvent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="destroyed">
    <xs:complexType>
      <xs:attribute name="step" use="required" type="xs:nonNegativeInteger"/>
      <xs:attribute name="action" use="required" type="xs:nonNegativeInteger"/>
      <xs:attribute name="x" use="required" type="xs:integer"/>
      <xs:attribute name="y" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
