Assignment4server/XSD/turnEvent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="turn">
    <xs:complexType>
      <xs:attribute name="step" use="required" type="xs:nonNegativeInteger"/>
      <xs:attribute name="action" use="required" type="xs:nonNegativeInteger"/>
      <xs:attribute name="x" use="required" type="xs:nonNegativeInteger"/>
      <xs:attribute name="y" use="required" type="xs:nonNegativeInteger"/>
      <xs:attribute name="clockwise" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
