Assignment4server/XSD/walls.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="walls">
    <xs:complexType>
      <xs:attribute name="east" use="required" type="xs:boolean"/>
      <xs:attribute name="north" use="required" type="xs:boolean"/>
      <xs:attribute name="south" use="required" type="xs:boolean"/>
      <xs:attribute name="west" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
